*{
    margin: 0;
    font-family: roboto;
}

body{
    /* margin top en attendant de faire la barre de recherche, à retirer apres */
    margin-top: 100px;
    background: linear-gradient(50deg,#a1e3e2, #f3c680);
}


img{
    max-width: 100%;
    max-height: 100%;
}

.nav-menu{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 999;
}


.logo{
    width: 13px;
}

.navbar{
    display: flex;
    height: 48px;
    padding-right: 10%;
    padding-left: 10%;
    align-items: center;
    margin: 0;
    list-style-type:none;
    justify-content: space-between;
}

.lien-nav{
    display: flex;
    gap: 40px;
}

.navbar a{
    color: white;
    font-size: 20px;
}

.flex{
    display:flex;
    width: 80vw;
    margin-top: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    font-size:36px; 
    font-weight:bold;
}

input{
    border-radius: 5px;
    height:32px; 
    line-height:50%; 
    margin:0;
    font-size:16px;
}

input[type=search]{
    flex:1; 
    margin-right:15px; 
    padding: 25px 20px; 
    background-size: 3%;
}

input[type=submit]{
    border-color: black;
    padding:20px 25px 30px 25px; 
    background:black; 
    color:white; 
    font-weight:bold;
}

.filterBy {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filterBy label {
    font-size: 1.2rem;
}

#select-filter {
    font-size: 1rem;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.toggle{
    display:inline-block;
    border: 1px solid #D8D8D8;
    border-radius: 17px;
    position:relative;
}

.toggle span{
    position: relative;
    z-index:2;
    display: inline-block;
    width: 130px;
    border-radius: 17px;
    padding: 5px 15px;
    text-align: center;
}

.toggle span.current{
    color: #454545;
    font-weight: 700;
}

.toggleCurrent{
    z-index:1;
    position:absolute;
    top:-1px; left:0;
    width: 50%;
    height: 28px;
    border-radius: 17px;
    border: 1px solid #FF7F50;
    cursor: pointer;
}

.toggleCurrent.slide{
    left: 100px;
    transition: all 0.5s cubic-bezier(.61,-0.19,.48,1.22);
    -webkit-transition: all 0.5s cubic-bezier(.61,-0.19,.48,1.22);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 40px;
    margin: 20px;
    justify-content: center;
}

.description {
    font-size: 0.9rem;
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.card-infos-details {
    padding: 10px 15px;
    border-radius: 0 0 20px 20px;
    display: none;
    flex-direction: column;
}

.card-image {
    display: flex;
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
}

.card-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    right: 20px;
    top: 20px;
}

.card-buttons .card-panier,.card-fav {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    padding: 2px 5px;
    font-size: 1.3rem;
    opacity: 50%;
    transition: opacity 0.15s ease-in-out;
}

.card-creator, .card-sales, .card-collection{
    font-size: 13px;
    line-height: 23px;
}

.card-panier:hover, .card-fav:hover {
    opacity: 100%;
}

.card-detail {
    border: none;
    background: white;
    padding: 2px 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 14px auto 8px auto;
    font-size: 0.915pxrem;
    font-weight: 400;
    gap: 5px;
    transition: all 0.15s ease-in-out;
}

.card-detail:hover {
    color: coral;
    border-bottom: 0.5px solid coral;
    width: 25%;
    gap: 10px;
}


.card-infos {
    padding: 10px 15px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.card-name{
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 15px;
    text-transform: uppercase;
}

/* provisoire */
.titre {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}